table,img,td,tr,th {
  border: 2px solid black;
}
img {
  height: 100px;
  width: 100px;
}

table {
  width: 90vw;
  height: 50vh;
}
td{
  text-align: center;
}
.nxtBtn{
position:relative;
left:82.73vw
}

div>span {
  margin-left: 34vw;
}